/******************************************************
 * Stylesheet for static html pages & studies browser
 ******************************************************/

/***************
 * global stuff
 ***************/
body {
  background-color: black;
  color: #777;
  font-family: 'DejaVu Sans', sans-serif;
}
a {
  color: #aad;
  text-decoration: none;
}
a:hover {
  color: #bbe;
  text-decoration: underline;
}

@media all and (min-width: 70em) {
  article {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.selected {
  font-weight: bold;
}

/*********
 * Header
 *********/
header h1 {
  font-family: sans-serif;
  font-size: medium;
  background-image: url(/favicon-196.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 70%;

  padding-left: 1em;
  float: right;
}
header h1 a {
  color: #777;
}
header ul.language {
  clear: both;
  border-top: 1px solid #222;
  margin-top: 5px;
  font-size: small;
  margin-bottom: 0em;
  padding-left: 0;
}
header ul.language:before {
  content: "[";
}
header ul.language:after {
  content: "]";
}
header ul.language li {
  display: inline;
}
header ul.language li + li:before {
    content: "| ";
    font-weight: normal;
}


/*************
 * Navigation
 *************/
nav {
  margin-top: 5em;
  color: #555;
  width: 100%;
  text-align: center;
}

nav ul:before {
  content: "[";
}
nav ul:after {
  content: "]";
}
nav ul {
  padding-left: 0px;
}

nav li {
  display: inline;
}


nav li + li:before {
  content: "| ";
  font-weight: normal;
}

nav a {
  color: #556;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

/* keyboard 
 *
 * does not support nested kbd tags
 */
kbd {
  padding: 0.5em;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  background-color: #555;
  color: #ccc;
}
dt {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-right: 2em;
}
dd {
  padding-bottom: 0.8em;
}
/* display on same line */
dl dd {
  display: inline;
  margin: 0;
}
dd:after {
  display: block;
  content: "";
}
dl dt {
  display: inline-block;
  min-width: 5em;
}
