/*******************
 * gradient editor 
 *******************/
div.gradient-editor {
  border-left: solid #888 1.1em; /* half of slider width */
  border-right: solid #888 1.1em;
  background-color: #999;
  padding: 0;
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
  padding-right: 1.1em;
  position: relative;
  z-index: 10;

  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 0.1em;
}
div.gradient-editor-drop {
  margin-bottom: 2em;
  margin-top: 2em;

  /* checkerboard */
  background-image:
    linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
    linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  background-size: 30px 30px, 30px 30px;
  background-position: 0 0, 15px 15px;
}
div.gradient-editor:after {
  content: "";
  background-color: #999;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  border: none;
  visibility: hidden;
}
div.gradient-editor span {
  height: 2.0em;
  width: 2.0em;
  border: solid #45B 0.2em;
  border-radius: 50%;
  top: -0em;
  margin-left: -1em;
  background-color: #333;
  position: absolute;

  background-image:
    radial-gradient(circle, transparent 0%, transparent 40%, #333 50%, #333 100%);
}
div.gradient-editor span:hover {
  border-color: #67C;
}
div.gradient-editor span:active {
  border-color: #89E;
}

div.gradient-editor span.gradient-editor-drop {
  top: 1.5em;
  border-radius: 0 2em 2em 2em;
  transform: rotate(0.125turn);
}

div.gradient-editor span.gradient-editor-drop-top {
  top: -1.5em;
  border-radius: 0 2em 2em 2em;
  transform: rotate(0.625turn);
  background-image:
    radial-gradient(circle, transparent 0%, transparent 40%, #333 50%, #333 100%),
    linear-gradient( 45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size:  auto, 8px 8px, 8px 8px;
}

div.gradient-editor input {
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
  opacity: 0;
}

/* Touch responsive interaction */
div.gradient-editor span:active:after {
  content: "-";
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  line-height: 80%;
  color: red;
  background-color: #eee;
  display: inline-block;

  top: -0.3em;
  left: -0.3em;
  height: 1em;
  width: 1em;

  padding: 0;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.2;
  visibility: visible;

  z-index: -1;
}
div.gradient-editor-drop span:active:after {
  transform: rotate(-0.125turn);
}

div.range-picker {
  position: absolute;
  box-shadow: 0 0 1.5em #45B;
  border-radius: 1em;
  width: 12em;
  background: #222;
  z-index: 100;
  opacity: 0.8;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.6em;
}
