/*******************
 * orientation cube
 *******************/

div.orientationCube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

div.orientationCube p {
  margin: 0;
  width: 056px;
  height: 056px;
  display: block;
  position: absolute;
  border: 2px solid #AAA;
  color: #DDD;
  font-size: 050px;
  text-align: center;
  line-height: 060px;
  background: #2F2F2F;
  background: rgba(47, 47, 47, 0.8);
  font-family: monospace;
  font-weight: bold;
}

div.orientationCube p.faceA { transform: rotateY(  0deg) translateZ(30px); }
div.orientationCube p.faceP { transform: rotateY(180deg) translateZ(30px); }
div.orientationCube p.faceL { transform: rotateY( 90deg) translateZ(30px); }
div.orientationCube p.faceR { transform: rotateY(-90deg) translateZ(30px); }
div.orientationCube p.faceS { transform: rotateX( 90deg) rotateZ(180deg) translateZ(30px); }
div.orientationCube p.faceI { transform: rotateX(-90deg) translateZ(30px); }
