/*********************************
 * Stylesheet for studies browser
 *********************************/

@import "default.css";

/************
 * Header
 ************/
header {
  position: relative;
}
header h1 {
  position: absolute;
  font-size: 2em;
  z-index: 10;
  margin-bottom: 0px;
  float: left;
}
header div.about {
  position: absolute;
  top: 50%;
  margin-top: -125px;
  bottom: 100%;
  right: 0;
  height: 250px;
  width: 20%;
  z-index: 10;
}

/***************
 * Image stack
 **************/
div.imageStack {
  position: relative;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 250px;
}
div.imageStack img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

noscript {
  color: red;
  font-weight: bold;
  font-size: 3em;
  display: blocK;
  border-top: 0.08em solid red;
  border-bottom: 0.09em solid red;
}


#sticky {
  position: -webkit-sticky; /* not implemented in chrome 2015.12 */
  position: sticky;
  top: 0;
  padding: 0.1em;
  padding-left: 15%;
  padding-right: 15%;
  background: black;
  z-index: 100;
}
#sticky input {
  margin-bottom: 0.3em;
  font-size: 1.2em;
  width: 99%;
  padding-left: 1%;
}

/*******************
 * Studies browser
 *******************/
div.studies {
  margin-left: 15%;
  margin-right: 15%;
}
div.studies input {
  margin-bottom: 1em;
  font-size: 1.5em;
  width: 99%;
  padding-left: 1%;
}
div.studies ul {
  padding: 0;
}
div.studies h2 {
  font-size: 2.0em;
  margin-top: 1em;
  margin-bottom: 0em;
}
div.studies li a p {
  margin-top: 0;
}
div.studies > ul > li {
  list-style-type: none;
  padding-left: 14em;
  border: 0.1em solid #222;
  margin-bottom: 0.5em;
  position: relative;
  height: 7em;
}
div.studies > ul > li:hover {
  border: 0.1em solid #444;
}
div.studies li a {
  text-decoration: none;
}
div.studies li a a {
  margin-right: 0.5em;
}
div.studies li a a:hover{
  text-decoration: underline;
}
ul.sequences {
  margin-left: 1em;
  text-align: right;
  position: absolute;
  top: 50%;
  margin-top: -3em;
  left: 0;
}

ul.sequences li {
  display: inline;
  text-decoration: none;
  border-left: 0em;
}
ul.sequences img {
  border: none;
  height: 6em;
  width: 6em;
}


/* highlight search results */
span.hl {
  background-color: #444;
}

/* fade search results */
@keyframes fadeIn {
  from { opacity: 0; max-height: 0; }
  to { opacity: 1; max-height: 10em; }
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; max-height: 0; }
  to { opacity: 1; max-height: 10em; }
}

@keyframes fadeOut {
  from { opacity: 1; max-height: 10em; }
  to { opacity: 0; max-height: 0; }
}
@-webkit-keyframes fadeOut {
  from { opacity: 1; max-height: 10em; }
  to { opacity: 0; max-height: 0; }
}

/* small screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 800px),
only screen and (max-width: 800px) {
  body {
    font-size: 2em;
  }
  div.imageStack {
    display: none;
  }
  header h1 {
    position: relative;
  }
  header div.about {
    display: none;
  }
  div.studies {
    margin-left: 0;
    margin-right: 0;
  }
  #sticky {
    padding-left: 0;
    padding-right: 0;
  }
}
