body {
  background-color: black;
  color: grey;
}
.vr-icon {
  position: relative;

  color: #eee;

  margin-left: 1.6em;
  margin-right: 1.6em;
  top: -0.2em;

  height: 0.8em;
  width: 0;

  border-left: 0.2em solid;
  border-right: 0.2em solid;
  border-bottom: 0.4em solid transparent;

  cursor: pointer;
}

.vr-icon:hover {
  color: #fff;
}
.vr-icon:active,
.vr-icon:focus {
  color: #fff;
}

/* chrome hack */
.vr-icon:hover::before,
.vr-icon:active::before,
.vr-icon:focus::before {
  background-image: radial-gradient(circle 0.6em at 60% 50%, transparent 0%, transparent 50%, currentColor 50%, currentColor 100%);
}
.vr-icon:hover::after,
.vr-icon:active::after,
.vr-icon:focus::after {
  background-image: radial-gradient(circle 0.6em at 40% 50%, transparent 0%, transparent 50%, currentColor 50%, currentColor 100%);
}

.vr-icon::before {
  content: "";
  position: absolute;

  left: -1.32em;
  top: 0;

  width: 1.2em;
  height: 1.5em;
  background-image: radial-gradient(circle 0.6em at 60% 50%, transparent 0%, transparent 50%, currentColor 50%, currentColor 100%);

  border-radius: 0.2em 0 0.5em 0.2em;
}
.vr-icon::after {
  content: "";
  position: absolute;

  left: 0.15em;
  top: 0;

  width: 1.2em;
  height: 1.5em;
  background-image: radial-gradient(circle 0.6em at 40% 50%, transparent 0%, transparent 50%, currentColor 50%, currentColor 100%);
  border-radius: 0 0.2em 0.2em 0.5em;
}
